.header
  position: fixed
  left: 0
  top: 0
  width: 100%
  z-index: 99
  padding: 17px 0
.menu
  display: flex
  justify-content: space-between
  align-items: center
  &__nav
  font-family: 'Lato Medium', sans-serif
  &__start
    display: flex