.hero
  background:  url("../../img/hero-bg.jpg") no-repeat center / cover 
  height: 100vh
  padding-top: 126.3rempx
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  &__content
    max-width: 31.5rem
  &__title
    font-size: 4.6rem
    font-weight: 700
    letter-spacing: 0.45rem
    color: $primary
    font-family: 'Georgia', sans-serif
    margin-bottom: 2.2rem
  &__text
    color: #484848
    font-size: 1.4rem
    font-weight: 400 
    width: 28.7rem 
    letter-spacing: 0.01rem
    line-height: 2.1rem
    font-family: 'Lato Regular', sans-serif
    margin-bottom: 3.8rem
  &__btn
    font-family: 'Lato Regular', sans-serif
    padding: 1.49rem 3.68rem
    border-radius: 4px
    font-size: 1.4rem

    